ul {
    list-style-type: none;
    overflow: hidden;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    border-width: 1px;
    padding: 0;
    border-color: #b7b7b7;
    border-bottom-style: solid;
    font-style: normal;
}

li {
    float: left;
}

li a {
    display: block;
    color: #434343;
    text-align: center;
    padding: 15px 15px;
    padding-left: 0px;
    text-decoration: none;
}

li a:hover {
    color: #c27ba0;
}

h1 {
    color: black;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
}

p {
    color: black;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
}

body {
    background-color: #efefef;
    color: #434343;
    margin: 0px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
}

main {
    margin-top: 1%;
}

.source-sans-3-h1 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 15px;
    font-style: normal;
}